<p><%= link_to "[Add New Place]", "/places/new" %> </p>
<ul>
  <% @places.each do |place| %>
    <li>
      <p>
        <%= link_to place.title, "/places/#{place.id}" %>
        ($<%= place. admission_price%>)
        <%= link_to "[delete]", "/places/#{place.id}/delete" %>
      </p>
    </li>
  <% end %>
</ul>