<form action='/submit_new'>
  <p>Title : <input type='text' name='title'></p>
  <p>Photo Url : <input type='text' name='photo_url'></p>
  <p>Price : <input type='text' name='price'></p>
  <p>Description : <input type='text' name='description' style="height:128px"></p>
  <p><input type='submit'></p>
</form>